<app-navbaradmin></app-navbaradmin>

<div class="container-fluid" >
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="background: linear-gradient(-20deg,#eebe7b 50%,#041C32 50%);">
      <div class="position-sticky pt-9">
        <ul class="nav flex-column" >
          <br>
          <a href="admin"><i class="fas fa-home text-white fw-bold">  Dashboard</i></a>
          <hr class="text-black">
          <i class="fas fa-stream text-white fw-bold">  Categories</i>
          <li class="nav-item">
            <a class="nav-link text-white " href="addcat">
              <span data-feather="file"></span>
              Ajouter une catégorie
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="listcat">
              <span data-feather="main"></span>
              Liste des Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="upcat/:id">
              <span data-feather="file"></span>
              Modifier une catégorie
            </a>
          </li>
          <hr class="text-black">
          <i class="fas fa-shopping-cart text-white fw-bold">  Produits</i>
          <li class="nav-item">
            <a class="nav-link text-white" href="addpro">
              <span data-feather="file"></span>
              Ajouter un produit
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="listpro">
              <span data-feather="main"></span>
              Liste des produits
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="update/:id">
              <span data-feather="file"></span>
              Modifier un produit
            </a>
          </li>
          <hr class="text-black">
          <i class="fas fa-user text-black fw-bold">  Clients</i>
          
          <li class="nav-item">
            <a class="nav-link text-black" href="listuser">
              <span data-feather="users"></span>
              Liste des clients
            </a>
          </li>
          <hr class="text-black">
          <i class="fas fa-comment text-black fw-bold"> Réclamations</i>
          
          <li class="nav-item">
            <a class="nav-link text-black" href="listcon">
              <span data-feather="shopping-cart"></span>
              Liste des messages
            </a>
          </li>
          <hr class="text-black">
          <li class="nav-item">
            <a class="nav-link text-black fas fa-sign-out-alt text-black fw-bold" href="#" (click)="logOut()">
              <span data-feather="shopping-cart"></span>
              LogOut
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Listes des clients</h1>
        
      </div>
      <div class="container">
        <div class="card mt-2">
        <div class="card-header" style="background-color: #E89F71;"><h2 class="text-center">Listes des clients</h2></div>
        <div class="card-body" style="background-color: #F5F4F4;">
        <table class="table table-bordered border-2 border-dark text-center">
            <thead>
              <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let user of users" class="table-bordered border-dark">
              <tr class="table-warning table-bordered border-dark">
                <td>{{user.fname}}</td>
                <td>{{user.lname}}</td>
                <td>{{user.email}}</td>
                <td><button type="button" class="btn btn-danger" (click)="deleteUser(user._id)" (click)="refresh()">Supprimer</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
    </main>
  </div>
</div>


