<body>
    <app-navbar></app-navbar><br><br>
    <div class="wrapper bg-white">
      <div class="h2 text-center">Bahria Lumiére</div>
      <div class="h4 text-muted text-center pt-2">Enter your login details</div>
      <form class="pt-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group py-2">
              <div class="input-field"> <span class="far fa-user p-2"></span> 
                <input type="text" placeholder="Email Address" class="form-control" formControlName="email" required></div> 
                <div *ngIf="submitted && f.email.errors" class="text-danger">
                    <div *ngIf="f.email.errors.required">email is required</div>
                    <div *ngIf="f.email.errors.pattern">email name not valid.</div>
                  </div>
          </div>
          <div class="form-group py-1 pb-2">
              <div class="input-field"> <span class="fas fa-lock p-2"></span> 
                <input type="password" placeholder="Enter your Password" 
                 class="form-control" formControlName="password" required> 
                <button class="btn bg-white text-muted"> <span class="fas fa-eye-slash"></span> </button> </div>
                <div *ngIf="submitted && f.password.errors" class="text-danger">
                    <div *ngIf="f.password.errors.required">password is required</div>
                    <div *ngIf="f.password.errors.pattern">password name not valid.</div>
                  </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn w-50" style="background-color: #E89F71;"><a href="/login">Login</a></button>
          </div>
          <div class="text-center register-link">
            Don’t have an account?
            <a routerLink="/register">Register Now</a>
          </div>
      </form>
   </div>

  </body>
  